@using myapp.Models;
@{
    ViewData["Title"] = "Student Page";
    List<Student> list = ViewData["allstuds"] as List<Student>;
}


<div>
    <div className="container">
        <h1>Students</h1>
        <div className="row">
            <div className="col-sm-12">
                <table className="table">
                     <thead>
                            <tr>
                                <td>Id</td>
                                <td>Name</td>
                            </tr>
                        </thead>
                    <tbody>
                        @foreach (Student item in list)
                        {
                            Console.WriteLine(item);
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td><a href="/Student/Delete/@item.Id">Delete</a></td>
                                <td><a href="/Student/Edit/@item.Id">Edit</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>